---
interface Props {
  href: string;
  class?: string;
}

import { toBasePath } from "../../lib/routes";

const { href, class: className } = Astro.props;
const classes = ["text-link", className].filter(Boolean).join(" ");
---

<a class={classes} href={toBasePath(href)}><slot /></a>
