---
export interface Objective {
  id?: string;
  text: string;
}

interface Props {
  title?: string;
  objectives: Objective[];
}

const { title = "Lernziele", objectives } = Astro.props;
---

<section class="learning-block" aria-labelledby="learning-objectives">
  <h2 id="learning-objectives">{title}</h2>
  <ul>
    {objectives.map((objective) => <li id={objective.id}>{objective.text}</li>)}
  </ul>
</section>
